@import '@/assets/styles/variaveis';
@import '@/assets/styles/breakpoints';

.rodape {
  align-items: center;
  background-image: $cor-cabecalho;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  height: 7.5rem;
  justify-content: center;
  &__texto {
    border-bottom: 1px solid $cor-texto-cabecalho;
    color: $cor-texto-cabecalho;
  }
  &__links {
    display: flex;
    gap: 0.33rem;
  }
  &__link {
    color: $cor-texto-cabecalho;
  }
}

@media screen and (min-height: $tamanho-maximo) {
  .rodape {
    min-height: 5vh;
  }
}