$cor-borda-conteudo: linear-gradient(to bottom, rgb(23, 0, 151), #3f007e);
$cor-borda-sublinhado: linear-gradient(to right, rgb(23, 0, 151), #3f007e);
$cor-cabecalho: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(63, 0, 126) 35%, rgba(9, 9, 121, 1) 100%);
$cor-projeto-item: linear-gradient(to right, rgb(23, 0, 151), #3f007e);
$cor-texto: #000;
$cor-texto-cabecalho: #fff;
$margem: 5rem;
$margem-mobile: 1rem;
$margem-tablet: 2rem;